---
layout: base.njk
siteName: "The Sweet Blog"
---

<article class="h-entry">
  <h1 class="p-name">{{ title }}</h1>

  <div class="post-meta">
    <span>
      <time class="dt-published" datetime="{{ date | iso }}">
        {% icon "calendar-week", class="text-icon" %}{{ date | readableDate }}
      </time>
    </span>

    <span>
      {% icon "clock", class="text-icon" %}{{ content | timeToRead }} read
    </span>

    <span class="p-author h-card" hidden>
      <a class="u-url u-uid" rel="author" href="{{ author.href }}" hidden>
        <img eleventy:ignore class="u-photo" src="/profile.jpg" alt="Parham Mohammadi" width="512" height="512" hidden>
        {{ author.name }}
      </a>
    </span>
  </div>

  <div class="e-content reader-bar-start">
    {{ content | safe }}
    {% readerBar "7px", "var(--bg)", "var(--accent-bg)", "0px" %}
  </div>

  <!-- Add canonical post URL for u-url and u-uid -->
  <a class="u-url u-uid" href="{{ page.url | url }}"></a>
</article>


{% if tags %}
  <p class="post-tags">
    {% for tag in tags %}
      <a href="/posts/tags/{{ tag }}/" class="tag">{% icon "tag", class="tag-icon" %} {{ tag }}</a>
    {% endfor %}
  </p>
{% endif %}
