<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/css/cv.css' | url }}">
  <link rel="canonical" href="{{ page.url }}">
</head>
<body>
    <div class="cv-container">
      <div class="cv-paper">
        <!-- Header Section -->
        <header>
          <h1>Parham Mohammadi</h1>
          <p class="subtitle">Software Engineer</p>
          <p class="contact">Email: <a href="mailto:contact@parham.dev">contact@parham.dev</a> | Website: <a href="/">parham.dev</a></p>
        </header>
  
        <!-- Profile Section -->
        <section class="profile">
          <h2>Profile</h2>
          <p>I am a 30-year-old Software Engineer and passionate Free and Open Source Software (FOSS) developer with a strong interest in decentralized software and services. In addition to my professional work, I enjoy experimenting with self-hosted solutions and exploring innovative technologies in my free time. My dedication to staying at the forefront of emerging trends enables me to contribute effectively to modern, robust, and secure software solutions.</p>
        </section>
  
        <!-- Experience Section -->
        <section class="experience">
          <h2>Experience</h2>
          <div class="entry">
            <h3>IT Manager - Sarang Petrochemical Co.</h3>
            <p class="date">March 2024 - November 2024</p>
            <p>Led the IT department of a prominent company specializing in the commerce and trading of petrochemical products. Oversaw all aspects of IT operations, including infrastructure management, network security, and software development. Played a key role in implementing efficient systems to support business activities, ensuring seamless communication and data management across the organization.</p>
          </div>
          <div class="entry">
            <h3>Course Developer - Shastaad</h3>
            <p class="date">June 2022 - January 2023</p>
            <p>Created comprehensive Python programming courses tailored for various skill levels, developed course materials using Markdown for text-based content and designed engaging slideshows to support learning objectives and focused on delivering clear, structured, and practical resources for students.</p>
          </div>
          <div class="entry">
            <h3>Backend Developer - Vista Algorithm</h3>
            <p class="date">October 2018 - October 2020</p>
            <p>Developed the backend of an e-commerce platform specializing in the import and sale of Xiaomi products. Designed and implemented robust backend systems using .NET MVC and Entity Framework to ensure efficient data management and smooth user experiences. Played a key role in developing RESTful APIs and integrating dynamic content through Razor views. Collaborated closely with front-end developers to ensure seamless integration between front-end and back-end systems, while optimizing database performance and handling data migrations to enhance system scalability and reliability.</p>
          </div>
        </section>
  
        <!-- Education Section -->
        <section class="education">
          <h2>Education</h2>
          <div class="entry">
            <h3>M.Sc. in Software Engineering - Khajeh Nasir University of Technology (KNTU)</h3>
            <p class="date">2018 - 2021</p>
            <p>Gained advanced knowledge in software engineering principles, focusing on distributed systems, software architecture, and performance optimization. Conducted a thesis project on the application of artificial intelligence for object detection using cameras, exploring cutting-edge techniques in computer vision and machine learning.</p>
          </div>
          <div class="entry">
            <h3>B.Sc. in Computer Engineering (Software) - Islamic Azad University, Central Tehran Branch (IAUCTB)</h3>
            <p class="date">2013 - 2018</p>
            <p>Acquired a solid foundation in computer engineering with an emphasis on software development and algorithms. Participated in team projects that involved designing and implementing software solutions, laying the groundwork for a career in software engineering.</p>
          </div>
        </section>

        <!-- Expertise Section -->
        <section class="skills">
          <h2>Expertise</h2>
          <ul>
            <li>System programming</li>
            <li>Web development</li>
            <li>Data management & analysis</li>
            <li>Hosting online services</li>
            <li>Open source/science advocate</li>
          </ul>
        </section>
  
        <!-- Skills Section -->
        <section class="skills">
          <h2>Skills</h2>
          <h3>Languages:</h3>
          <br>
          <ul>
            <li>English{% icon "lucide:asterisk", class="english-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}</li>
            <li>Persian{% icon "lucide:asterisk", class="persian-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}</li>
            <li>Italian{% icon "lucide:asterisk", class="italian-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}</li>
            <li>German{% icon "lucide:asterisk", class="german-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}</li>
            <li>French{% icon "lucide:asterisk", class="french-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}</li>
            <li>Spanish{% icon "lucide:asterisk", class="spanish-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}</li>
            <li>Yiddish{% icon "lucide:asterisk", class="yiddish-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}</li>
            <li>Latin{% icon "lucide:asterisk", class="latin-icon" %}{% icon "lucide:asterisk", class="lang-icon" %}</li>
          </ul>
          <br>
          <hr>
          <br>
          <h3>General skills:</h3>
          <br>
          <ul>
            <li>Performing well in teams</li>
            <li>Good communication skills</li>
            <li>Learning quickly and with passion</li>
          </ul>
          <br>
          <hr>
          <br>
          <h3>Organizational skills:</h3>
          <br>
          <p>Used to be a Duolingo Ambassador for hosting Italian events in Tehran when Duolingo Events was still a thing.</p>
          <br>
          <hr>
          <br>
          <h3>Tech skills:</h3>
          <br>
          <ul>
            <li>Programming & data analysis (Rust, Zig, Python, Go, C/C++)</li>
            <li>Web development (HTML/CSS, JS, Nodejs, Bun, Eleventy, React, TailwindCSS, NextJS, PHP, Django)</li>
            <li>SQL Database management (MySQL, mariaDB, PostgreSQL, SQLite)</li>
            <li>Version control systems (git, svn)</li>
            <li>Automation & workflow design (bash, zsh, Python)</li>
            <li>Networking (routing, reverse proxy, ssh)</li>
            <li>Application containerization (Docker)</li>
            <li>Cloud-based virtual private servers (Hetzner, Njalla, Aéza)</li>
            <li>Artificial intelligence / machine learning</li>
          </ul>
        </section>
  
        <!-- Footer Section -->
        <footer>
          <p>Email: <a href="mailto:contact@parham.dev">contact@parham.dev</a></p>
        </footer>
      </div>
    </div>
  </body>
  </html>
  