<div class="footer-left">
    <p>&copy {% year %} Parham Mohammadi</p>
    <p>Content licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
</div>
<div class="footer-right">
    <p>Made with <a href="https://11ty.dev/">11ty</a></p>
    <p><a rel="me" href="https://mas.to/@parhamm94">{% icon "brand-mastodon" %}</a> <a href="https://x.com/ParhamM94">{% icon "brand-x" %}</a> <a href="https://bsky.app/profile/parham.dev">{% icon "brand-bluesky" %}</a> <a href="posts/feed.xml">{% icon "rss" %}</a></p>
</div>