<nav>
  <ul class="nav-list">
    {% for item in collections.all | eleventyNavigation %}
      <li>
        <a 
          href="{{ item.url }}" 
          class="nav-link{% if item.key == eleventyNavigation.key %} active{% endif %}"
          {% if item.target %}target="{{ item.target }}"{% endif %}
          {% if item.rel %}rel="{{ item.rel }}"{% endif %}
        >
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
