---
layout: base.njk
title: Tags
siteName: "The Sweet Blog Tags"
---

<h2>Tags:</h2>
<ul>
  {% for tag in collections | getAllTags %}
    {% if tag != "posts" %}
      <a href="/posts/tags/{{ tag }}/" class="tag">{% icon "tag", class="tag-icon" %} {{ tag }}</a>
    {% endif %}
  {% endfor %}
</ul>
