# Ignore built files
public/

# Ignore Node.js dependencies
node_modules/

# Ignore logs, env files and temporary files
*.log
*.tmp
*.env

# Ignore vscode mcp files
.vscode/

# Webmentions cache
_webmentioncache/