---
permalink: /sitemap.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
    {% if page.url and page.url != '/404.html' %}
      <url>
        <loc>{{ 'https://parham.dev' + page.url | url }}</loc>
        {% if page.date %}
          <lastmod>{{ page.date | isoDate('yyyy-MM-dd') }}</lastmod>
        {% endif %}
        <changefreq>weekly</changefreq>
        <priority>0.5</priority>
      </url>
    {% endif %}
  {% endfor %}
</urlset>